{% extends 'base.html.twig' %}

{% block title %}Hello HomePageController!{% endblock %}

{% block body %}

    {% if app.user %}
        <h1 class="titre">Hello {{ app.user.nom }}! ✅</h1>
        {% else %} 
        <h1 class="titre">Acceuil du Monde des Arnauds</h1>
    {% endif %}


<div class="form-block">
    

    {% if app.user == true %}

        <div class='divBtn'>
            <a href="{{ path('app_logout') }}" class= 'btn btn-primary' style="width: 10rem;">Déconnexion</a>
        </div> 
        {% if  is_granted("ROLE_ADMIN") %} 
        <div class='divBtn'>
            <a href="{{ path('app_dashboard_admin') }} " class= 'btn btn-primary' style="width: 10rem;">AdminDashboard</a>
        </div>
        {% else %}
        <div class='divBtn'>
            <a href="{{ path('app_dashboard_profil') }}" class= 'btn btn-primary' style="width: 10rem;">ProfilDashboard</a> 
        </div>   
    {% endif %}

        {% else %}
        <div class='divBtn'>
            <a href="{{ path('app_login') }}" class= 'btn btn-primary' style="width: 10rem;">Connexion</a>
            <a href="{{ path('app_register') }}" class= 'btn btn-primary' style="width: 10rem;">Inscription</a>
        </div>
    {% endif %}

    {# condition pour vérifier si l'utilisateur est admin affiche le dasboard #}
    
</div>
{% endblock %}
