{% extends 'base.html.twig' %}
{% block title %}Modification - Admin{% endblock %}

{% block body %}
<h1 class="titre">Modifier ce profil</h1>


<div class="form-block">

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <div class="divBtn">
            <button type="submit" class= 'btn btn-warning'>Modifier</button>
            <a href="{{ path('app_dashboard_profil')}}" class= 'btn btn-primary'>retour</a>
        </div>
    {{ form_end(form) }}

        {# {{ form_start(form) }}
            {{ form(form.nom) }}
            {{ form(form.prenom) }}
            {{ form(form.email) }}

            <button type="submit" class="btn">Modification</button>
        {{ form_end(form) }} #}
</div>
{% endblock %}






