{% extends 'base.html.twig' %}

{% block title %}Hello DashboardAdminController!{% endblock %}

{% block body %}
  
   
    <h1 class="titre">😻 Bienvenue dans le Dashboard {{ app.user.nom }} modifier vos chattons😻</h1>

    <section class="sectionDashboar">
      {% for dataBs in dataBs %}
        <div class="form-block">
            <div class='divimgProfillog'>
                {% if dataBs.photo %}
                    <img src="{{ asset('uploads/photos/' ~ dataBs.photo) }}" alt="Photo de profil" style="max-width:180px; border-radius:50%;">
                {% else %}
                    <img src="{{ asset('uploads/photos/profil.png') }}" alt="Photo de profil par défaut" style="max-width:180px; border-radius:50%;">
                {% endif %}
            </div>
            <div class="divCardContent">
                <h3> {{dataBs.nom}}</h3>
                <li>{{dataBs.prenom}}</li>
                <li> {{dataBs.email}}</li>
            </div> 

            <div class="divBtn"> 
                <a href="{{ path('app_editAdmin_form', {'id': dataBs.id}) }}" class= 'btn btn-warning' style="width: 10rem;">Modifier</a>
                <a href="{{ path('app_delete_form', {'id': dataBs.id}) }}" class= 'btn btn-danger' style="width: 10rem;" onclick="return confirm('Es-tu sûr de vouloir supprimer cet élément ?');">Supprimer</a>
            </div>
        </div>  
      {% endfor %}
      
    </section>
    <div class="divBtn">
        <a href="{{ path('app_logout') }}" class= 'btn btn-primary' style="width: 10rem;">Déconnexion</a>
      </div>  
{% endblock %}
