{% extends 'base.html.twig' %}

{% block title %}Hello DashboardProfilController!{% endblock %}

{% block body %}
  <section>
   
     <h1 class="titre">Hello {{ app.user.nom }}! ✅</h1>

    
    {% for dataBs in dataBs %}
    <div class="form-block">
        <div class='divimgProfillog'>    
            <img src="{{ asset('uploads/photos/' ~ app.user.photo) }}" alt="Photo de profil" style="max-width:180px; border-radius:50%;">
        </div>
        <div class="divCardContent">

            <p> {{dataBs.nom}}</p>
            <p> {{dataBs.prenom}}</p>
            <p> {{dataBs.email}}</p>

        </div> 
        <div class="divBtn"> 
            <a href="{{ path('app_editProfil_form', {'id': dataBs.id}) }}" class= 'btn btn-warning' style="width: 10rem;">Modifier</a>  
        </div>
    </div>  
    {% endfor %}
    <div class="divBtn">
        <a href="{{ path('app_logout') }}" class= 'btn btn-primary' style="width: 10rem;">Déconnexion</a>
    </div>  
  </section>
{% endblock %}